body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: darkgrey;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    font-size: 30px;
}
h2{
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    text-align: center;
    font-size: 20px;
}
button{
    height: 50px;
    width: 70px;
    border-radius: 3px;
    border: 0;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}